#header 
  .swagger-ui-wrap
    %a#logo{:href => FQDN } SSBE Documentation

#messsage-bar.swagger-ui-wrap

#swagger-ui-container.swagger-ui-wrap
  #resources-container.container
    %ul#resources
      - group_routes_by_controller.each do |controller, actions|
        %li.resource{:id => "resource_#{controller}"}
          .heading
            %h2 
              %a= "/#{controller}"
          %ul.endpoints
            %li.endpoint
              %ul.operations

                - actions.each do |action|
                  %li{:class => "operation #{action[:request_method].downcase}"}
                    .heading
                      %h3
                        %span.http_method
                          %a= action[:request_method]
                        %span.path
                          %a= action[:path]
                      %ul.options
                        %li= comments(action).summary
                    .content
                      %p= comments(action).return
                      %table.fullwidth
                        %thead
                          %tr 
                            %th Parameter
                            %th Description
                          
                          %tr
                            - comments(action).params.each do |param_name, param_value|
                              %td= param_name
                              %td= param_value
